
[Desktop Entry]
Name=Snap Settings
Comment=Manage snap system settings
Exec=pkexec /usr/bin/snap-settings
Type=Application
Icon=preferences-system
Categories=GNOME;GTK;System;Utility;
